@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

@media screen and (max-width: 825px) {
  html,
  body,
  main {
    height: max-content;
  }

  main {
    display: flex;
  }

  .list-closed {
    /* align-items: end; */
    display: flex;
    top: 0rem;
    bottom: 2rem;
    height: 100%;
    width: 0rem;

    position: fixed;
  }

  .list-closed .dropbtn {
    display: flex;
    position: absolute;
    /* right: 25rem; */
    background-color: transparent;
    border: none;
    left: 1rem;

    color: yellow;
    height: 5rem;
    width: 5rem;
    font-size: 3rem;
    cursor: pointer;
  }

  .list-closed .fa-solid.fa-bars {
    background-color: #131313;
    height: 4rem;
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    left: 0rem;
    overflow: hidden;
    width: 60vw;
    height: 100vh;
    padding: 4rem;

    list-style: none;
    background-color: #ffffff;
  }

  .dropdown-content a {
    display: flex;
    text-decoration: none;
    color: rgb(17, 17, 17);
    font-size: 2rem;
    text-indent: 1.6rem;
    animation: text-animation 0.6s linear;
  }

  .dropdown-content {
    animation: opening 0.25s ease normal;
  }

  .bar {
    background-color: black;
    /* z-index: 1; */
    height: 100vh;
    position: absolute;
    width: 2rem;
    opacity: 0;
  }

  .list-closed .bar:hover ~ .dropdown-content:active {
    display: flex;
    animation: opening 0.25s normal;
  }

  @keyframes opening {
    0% {
      width: 0rem;
    }

    100% {
      width: 60vw;
    }
  }

  @keyframes text-animation {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }

  #navbar .list-closed:hover {
    /* left: 29.5rem; */
  }

  .show {
    display: block;
  }
}
